<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item" [routerLinkActive]="['active']" [routerLink]="['/book-a-shipment']">
        <a href="javascript:;">Book a Shipmnent</a>
      </li>
      <li class="list-group-item">
        <a href="javascript:;">Book a Warehouse</a>
      </li>
      <li class="list-group-item">
        <a href="javascript:;">Track you shipimnent</a>
      </li>
      <li class="list-group-item">
        <a href="javascript:;">Partner with us</a>
      </li>

    </ul>
  </div>
</div>