
#book-a-shipment{
    .catOne{
        ul{
            li{
                height: 35px;
                width: 20%;
                background: #655d5d;
                color: #fff;
                font-size: 16px;
                a{
                    text-decoration: none;
                }
            }
        }
    }
    
    img{
        height: 100px;
        width: 100px;
    }

}